#!/usr/bin/make -f

export SHELL=/bin/bash

%:
	dh $@

override_dh_auto_clean:
	rm -f mozconfig
	dh_auto_clean
	find . -name '*.pyc' -delete

override_dh_auto_configure:
	cp debian/mozconfig mozconfig

override_dh_auto_build:
	chmod 764 build/autoconf/config.guess
	chmod 764 build/autoconf/config.sub
	make -f client.mk build
	
override_dh_auto_install:
	make -f client.mk DESTDIR=$$(pwd)/debian/powermoon prefix=/usr \
        installdir=/usr/lib/powermoon \
        sdkdir=/usr/lib/powermoon-devel install
	rm -rf $$(pwd)/debian/powermoon/usr/share/idl
	rm -rf $$(pwd)/debian/powermoon/lib/powermoon-devel
	rm -rf $$(pwd)/debian/powermoon/usr/include
# remove vestigial duplicate file
	rm -rf $$(pwd)/debian/powermoon/usr/lib/powermoon/powermoon-bin

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/lib/powermoon
